.navigation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: center;
}

.nav-tags {
    min-width: 20px;
    text-align: center;
    background-color: green;
    margin: 5px 5px;
    color: #fff;
    padding: 5px 0;
}
